{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }} fade in">
            <button class="close" data-dismiss="alert">×</button>
            {{ message|trans }}
        </div>
    {% endfor %}
{% endfor %}
